/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  color: var(--dark);
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: inherit;
  cursor: pointer;
  font-weight: 700;
  border-radius: 16px;
}

/* переменные */

:root {
  --nav: 85px;
  --nav-list: 250px;
  --btn: 280px;
  --btn-mobile: 162px;
  --svg-search: 33px;
  --margin: 50px;
  --margin1: 35px;
  --margin2: 32px;
  --hero-subtitle: 24px;
  --hero-title: 16px;
  --hero-subtitle-mob: 6px;
  --hero-txt: 90px;
  --about-img: 49%;
  --about: 6px;
  --about-left: 15px;
  --about-title: 22px;
  --btn-wrap: 350px;
  --work-img: 870px;
  --icon-wrap: 145px;
  --form: 570px;
  --margin-bottom: 45px;
  --item: 20px;
  --item-title: 8px;
  --item-title1: 4px;
  --steps: 58px;
  --margin-btm: 60px;
  --margin-btm-mob: 32px;
  --marg-bot: 12px;
  --margin-nav: 80px;
  --social-link: 40px;
  --social-link-wrap: 95px;
  --footer-logo: 130px;
  --svg-faq: 50px;
  --svg-faq-mob: 30px;
  --margin-bottom2: 20px;
  --faq: 70px;
}

:root {
  --white: #FFFFFF;
  --orange: #FF9900;
  --black: #000000;
  --grey: #CACACA;
  --asphalt: #414141;
  --dark: #333333;
  --body: #E5E5E5;
  --red-orange: #E1670E;
  --light-orange: #F7B045;
  --rgb-black: rgb(0 0 0 / 0.5);
  --dark-grey: #666666;
  --just-grey: #999999;
  --light-grey: #7C7C7C;
  --sun-orange: #FFB84D;
  --grey-input: #ADADAD;
}

/* шрифты */

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('MontserratRegular'), local('Montserrat-Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('MontserratMedium'), local('Montserrat-Medium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('MontserratSemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('MontserratBold'), local('Montserrat-Bold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('MontserratExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/* общие стили */

.section {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 0 75px;
}

.txt-block-mob {
  display: none;
}

/* header */

.header {
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  padding: 0 75px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px 0px 32px 32px;
  margin-bottom: var(--margin-bottom);
}

.header__logo {
  padding-bottom: 11px;
  padding-top: 16px;
}

.burger {
  width: 42px;
  height: 27px;
  display: none;
  outline: transparent;
}

.burger::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  pointer-events: none;
}

.burger:focus::before {
  border-color: var(--orange);
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: var(--nav);
}

.nav__item-link {
  color: var(--dark);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: color .3s ease-in-out, outline .5s ease-in-out, border-color .3s ease-in-out;
  -o-transition: color .3s ease-in-out, outline .5s ease-in-out, border-color .3s ease-in-out;
  transition: color .3s ease-in-out, outline .5s ease-in-out, border-color .3s ease-in-out;
}

.nav__item .nav__item-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.nav__item .nav__item-link:hover {
  border-color: var(--orange);
}

.nav__item .nav__item-link:active {
  outline: none;
  color: var(--red-orange);
  border-color: var(--red-orange);
}

.header__finder {
  position: relative;
  right: 45px;
}

.header__right-wrap-svg {
  position: relative;
  width: var(--svg-search);
  height: 32px;
  top: 0;
  right: 5px;
  background-color: transparent;
  border-radius: 0;
  z-index: 300;
}

.header__right-wrap-svg:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.header__right-wrap-svg:active {
  outline: none;
}

.header__right-wrap-svg::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 2px solid transparent;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.header__right-wrap-svg:focus::before {
  opacity: 1;
  border-color: var(--orange);
}

.header__right-svg path {
  -webkit-transition: stroke .3s ease-in-out, fill .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out, fill .3s ease-in-out;
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.header__input-svg {
  position: absolute;
  width: var(--svg-search);
  height: 32px;
  bottom: 15px;
  right: 14px;
  background-color: transparent;
  border-radius: 0;
  z-index: 300;
}

.header__input-svg:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.header__input-svg:active {
  outline: none;
}

.header__input-svg::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 13px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.header__input-svg:focus::before {
  opacity: 1;
  border-color: var(--orange);
}

.header__input-svg:focus .header__non-svg circle {
  stroke: var(--just-grey);
}

.header__input-svg:hover .header__non-svg circle {
  stroke: var(--orange);
}

.header__input-svg:active .header__non-svg circle {
  stroke: var(--black);
}

.header__input-svg:focus .header__non-svg rect {
  fill: var(--just-grey);
}

.header__input-svg:hover .header__non-svg rect {
  fill: var(--orange);
}

.header__input-svg:active .header__non-svg rect {
  fill: var(--black);
}

.header__non-svg circle {
  -webkit-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
  transition: stroke .3s ease-in-out;
}

.header__non-svg rect {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.nav__header-link-svg {
  position: absolute;
  top: 5px;
  left: 4px;
  background-color: transparent;
}

.header__right-wrap-svg:focus .header__right-svg path {
  stroke: var(--dark);
}

.header__right-wrap-svg:hover .header__right-svg path {
  stroke: var(--orange);
}

.header__right-wrap-svg:active .header__right-svg path {
  stroke: var(--orange);
}

.header__right-wrap-svg:focus .header__right-svg rect {
  fill: var(--dark);
}

.header__right-wrap-svg:hover .header__right-svg rect {
  fill: var(--orange);
}

.header__right-wrap-svg:active .header__right-svg rect {
  fill: var(--orange);
}

.header__wrap-input {
  position: absolute;
  right: -50px;
  bottom: -15px;
  width: 539px;
  min-height: 60px;
  padding: 20px 10px 10px 32px;
  background-color: var(--white);
  border-color: transparent;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  z-index: 30;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__wrap-input.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__wrap-input:target {
  display: block;
}

.header__input {
  width: 412px;
  color: var(--grey-input);
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

/* hero */

.slider-box {
  position: relative;
  overflow: hidden;
}

.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-radius: 32px;
}

.swiper-img1 {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-img2 {
  background-image: url(../img/hero-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-img3 {
  background-image: url(../img/hero-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  background-color: var(--grey-input);
  width: 15px;
  height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 20px;
  outline-color: transparent;
}

.hero-content {
  position: relative;
  top: 0;
  z-index: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 760px 100px 80px;
  pointer-events: none;
}

.hero__subtitle {
  margin-bottom: var(--hero-subtitle);
  color: var(--white);
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__text {
  margin-bottom: var(--hero-txt);
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  width: var(--btn);
  padding: 25px 30px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 23px;
  line-height: 29px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  pointer-events: auto;
}

.hero__btn:focus {
  background-color: var(--sun-orange);
  outline: none;
}

.hero__btn:hover {
  background-color: var(--sun-orange);
  outline: none;
}

.hero__btn:active {
  background-color: var(--red-orange);
}

/* about */

.about {
  margin-bottom: var(--about);
}

.about__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 10px;
}

.about-pic {
  position: relative;
  width: var(--about-img);
  min-height: 622px;
  margin-right: var(--about-left);
  background-image: url(../img/about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.about__subtitle {
  margin-bottom: var(--about-title);
}

.about__text {
  padding-right: 650px;
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__txt-background {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 190px;
  background-color: var(--rgb-black);
  border-radius: 32px;
}

.about__text-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 55px;
}

.about__img-text {
  width: 65%;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.about__btn {
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--orange);
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.about__btn:focus {
  background-color: var(--orange);
  border: 3px solid var(--orange);
  outline: none;
  color: var(--white);
}

.about__btn:hover {
  background-color: var(--orange);
  border: 3px solid var(--orange);
  outline: none;
}

.about__btn:active {
  background-color: var(--red-orange);
  border: 3px solid var(--red-orange);
  outline: none;
}

.items {
  width: 49%;
  min-height: 622px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 295px;
  padding: 65px 100px 65px 300px;
  outline: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: 50px;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
}

.items__item:not(:last-child) {
  margin-bottom: var(--item);
}

.items__svg1 {
  background-image: url(../img/about2.svg);
}

.items__svg2 {
  background-image: url(../img/about1.svg);
}

.items__title {
  margin-bottom: var(--item-title);
  color: var(--dark);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.items__txt {
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* steps */

.steps {
  margin-bottom: var(--steps);
}

.steps__subtitle {
  margin-bottom: var(--margin);
}

.ul {
  width: 40%;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ul__steps-btn {
  background-color: transparent;
  border-color: transparent;
  font-style: normal;
  border-radius: 0;
  outline: none;
  position: relative;
  color: var(--dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.ul__steps-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 2px;
  outline-offset: 3px;
  outline: none;
  border: 2px solid var(--orange);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.ul__steps-btn:hover {
  color: var(--orange);
}

.ul__steps-btn:active {
  color: var(--red-orange);
}

.ul__steps-btn:focus-visible::after {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.ul__steps-btn:active::after {
  opacity: 0;
}

.tab-content {
  display: none;
  min-height: 460px;
}

.tab-content--active {
  display: inline-block;
}

.ul__steps-btn--active {
  color: var(--orange);
}

.preview-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.preview__text {
  margin-right: 75px;
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
}

.tab-img {
  width: 758px;
  min-height: 460px;
}

.tabs__wrap-pic1 {
  background-image: url(../img/work-plan.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.tabs__wrap-pic2 {
  background-image: url(../img/work-plan-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.tabs__wrap-pic3 {
  background-image: url(../img/work-plan-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.tabs__wrap-pic4 {
  background-image: url(../img/work-plan-4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.preview__btn-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: var(--btn-wrap);
}

.preview__button {
  padding: 20px 38px;
  margin-right: 15px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.preview__button:focus {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.preview__button:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.preview__button:active {
  background-color: var(--red-orange);
  border: 1px solid var(--red-orange);
  outline: none;
}

.preview__button2 {
  padding: 20px 38px;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.preview__button2:focus {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  outline: none;
}

.preview__button2:hover {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  outline: none;
}

.preview__button2:active {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  outline: none;
}

.steps-left-side {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 758px;
  min-height: 460px;
}

/* faq */

.faq__subtitle {
  margin-bottom: 32px;
}

.list-faq {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-faq .list-faq__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color .3s ease-in-out, fill .5s ease-in-out;
  -o-transition: border-color .3s ease-in-out, fill .5s ease-in-out;
  transition: border-color .3s ease-in-out, fill .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  margin-top: 0;
  border: none;
  outline: none;
  border-top: 1px solid var(--grey);
  border-bottom: 2px solid var(--grey);
}

.list-faq__item:focus {
  border-color: var(--orange);
  outline: 1px solid transparent;
}

.list-faq__item:hover {
  border-color: var(--orange);
}

.list-faq__item:active {
  border-color: var(--dark);
}

.list-faq__item .list-faq__txt {
  width: 100%;
  font: inherit;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 25px
}

.list-faq__item:focus .list-faq__txt {
  color: var(--orange);
}

.list-faq__item:hover .list-faq__txt {
  color: var(--orange);
}

.list-faq__item:active .list-faq__txt {
  color: var(--dark);
}

.list-faq__button {
  width: 100%;
  padding: 30px 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-faq__button:focus-visible {
  outline: none;
  border-color: var(--orange);
  color: var(--orange);
  z-index: 2;
}

.list-faq__button:focus-visible path {
  fill: var(--orange);
}

.list-faq__button:focus-visible ellipse {
  fill: var(--orange);
}

.list-faq__acordeon {
  font-size: 16px;
  line-height: 32px;
}

.ac.is-active>.ac-header .ac-trigger::after,
.ac .ac-trigger::after {
  content: none;
}

.is-active .list-faq__svg {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.list-faq__txt .list-faq-btn {
  margin: 0;
  padding: 0;
  width: 50px;
  background-color: transparent;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.list-faq__svg {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.list-faq__svg ellipse {
  -webkit-transition: fill 1s ease-in-out;
  -o-transition: fill 1s ease-in-out;
  transition: fill 1s ease-in-out;
}

.list-faq__svg path {
  -webkit-transition: fill 1s ease-in-out;
  -o-transition: fill 1s ease-in-out;
  transition: fill 1s ease-in-out;
}

.list-faq__item:focus .list-faq__svg ellipse {
  fill: var(--orange);
}

.list-faq__item:hover .list-faq__svg ellipse {
  fill: var(--orange);
}

.list-faq__item:active .list-faq__svg ellipse {
  fill: var(--grey);
}

.list-faq__item:focus .list-faq__svg path {
  fill: var(--white);
}

.list-faq__item:hover .list-faq__svg path {
  fill: var(--white);
}

.list-faq__item:active .list-faq__svg path {
  fill: var(--black);
}


/* footer */

.footer {
  background-color: var(--black);
  padding-bottom: 150px;
}

.footer__container {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 75px;
}

.footer__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 135px;
}

.footer__center {
  margin-right: 50px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__item-link {
  color: var(--grey);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__item-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.footer__item-link:hover {
  color: var(--orange);
}

.footer__item-link:active {
  outline: none;
  color: var(--red-orange);
}

.footer__item:not(:last-child) {
  margin-bottom: 19px;
}

.footer__social {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: var(--icon-wrap);
}

.footer__social-icon path {
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.footer__social-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
  fill: var(--dark-grey);
}

.footer__social-link:hover {
  fill: var(--orange);
}

.footer__social-link:active {
  outline: none;
  fill: var(--red-orange);
}

.footer__social-link:focus .footer__social-icon path {
  fill: var(--light-grey);
}

.footer__social-link:hover .footer__social-icon path {
  fill: var(--orange);
}

.footer__social-link:active .footer__social-icon path {
  fill: var(--red-orange);
  outline: none;
}

.footer__subtitle {
  margin-bottom: 25px;
  color: var(--grey);
}

.footer__txt {
  width: 363px;
  padding-top: 87px;
  color: var(--grey);
  font-size: 16px;
  line-height: 32px;
}

.footer__form {
  text-align: center;
}

.form__input-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  width: var(--form);
  height: 60px;
  background-color: var(--asphalt);
  color: var(--grey);
  margin-bottom: 25px;
  border-color: transparent;
  border-radius: 16px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.form__input:focus {
  background-color: var(--dark-grey);
  color: var(--grey);
  outline: none;
}

.form__input:hover {
  background-color: var(--dark-grey);
  color: var(--grey);
}

.form__input:active {
  background-color: var(--dark-grey);
  color: var(--white);
  outline: none;
}

.form__textarea {
  width: var(--form);
  height: 150px;
  background-color: var(--asphalt);
  color: var(--grey);
  margin-bottom: 25px;
  border-color: transparent;
  border-radius: 16px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.form__textarea:focus {
  background-color: var(--dark-grey);
  color: var(--grey);
  outline: none;
}

.form__textarea:hover {
  background-color: var(--dark-grey);
  color: var(--grey);
}

.form__textarea:active {
  background-color: var(--dark-grey);
  color: var(--white);
  outline: none;
}

.form__button {
  padding: 19px 52px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.form__button:focus {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.form__button:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.form__button:active {
  background-color: var(--red-orange);
  border: 1px solid var(--red-orange);
  outline: none;
}

/* scroll button */
.scroll-to-top {
  position: fixed;
  bottom: 9px;
  right: 20px;
  background-color: var(--light-orange);
  opacity: 70%;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 30px;
  cursor: pointer;
  z-index: 1000;
  display: none; 
  animation: blink 2s infinite;
}

.scroll-to-top.show {
  display: block; 
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}