html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  color: var(--dark);
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: inherit;
  cursor: pointer;
  font-weight: 700;
  border-radius: 16px;
}

/* базовые стили */

:root {
  --nav: 85px;
  --nav-list: 250px;
  --btn: 280px;
  --btn-mobile: 162px;
  --svg-search: 24px;
  --margin: 50px;
  --margin1: 35px;
  --margin2: 32px;
  --hero-subtitle: 24px;
  --hero-title: 16px;
  --hero-subtitle-mob: 6px;
  --hero-txt: 90px;
  --about-img: 49%;
  --about: 6px;
  --about-left: 15px;
  --about-title: 22px;
  --btn-wrap: 350px;
  --work-img: 870px;
  --icon-wrap: 145px;
  --form: 570px;
  --margin-bottom: 45px;
  --item: 20px;
  --item-title: 8px;
  --item-title1: 4px;
  --steps: 58px;
  --margin-btm: 60px;
  --margin-btm-mob: 32px;
  --marg-bot: 12px;
  --margin-nav: 80px;
  --social-link: 40px;
  --social-link-wrap: 95px;
  --footer-logo: 130px;
  --svg-faq: 50px;
  --svg-faq-mob: 30px;
  --margin-bottom2: 20px;
  --faq: 70px;
}

:root {
  --white: #FFFFFF;
  --orange: #FF9900;
  --black: #000000;
  --grey: #CACACA;
  --asphalt: #414141;
  --dark: #333333;
  --body: #E5E5E5;
  --red-orange: #E1670E;
  --light-orange: #F7B045;
  --rgb-black: rgb(0 0 0 / 0.5);
  --dark-grey: #666666;
  --light-grey: #7C7C7C;
  --sun-orange: #FFB84D;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('MontserratRegular'), local('Montserrat-Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('MontserratMedium'), local('Montserrat-Medium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('MontserratSemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('MontserratBold'), local('Montserrat-Bold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('MontserratExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/* общие стили */

.section {
  max-width: 1920px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.container {
  padding: 0 75px;
}

.txt-block-mob {
  display: none;
}

/* header */

.header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  padding: 0 75px;
  max-width: 1920px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 32px 32px;
  margin-bottom: var(--margin-bottom);
}

.header__logo {
  padding-bottom: 11px;
  padding-top: 16px;
}

.burger {
  display: none;
}

.nav {
  align-items: center;
}

.nav__list {
  margin-right: var(--nav-list);
}

.nav__item:not(:last-child) {
  margin-right: var(--nav);
}

.nav__item-link {
  color: var(--dark);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 2px solid transparent;
  transition: color .3s ease-in-out, outline .5s ease-in-out, border-color .3s ease-in-out;
}

.nav__item-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.nav__item-link:hover {
  border-color: var(--orange);
}

.nav__item-link:active {
  outline: none;
  color: var(--red-orange);
  border-color: var(--red-orange);
}

.nav__right-wrap-svg {
  position: relative;
  width: var(--svg-search);
  padding: 15px;
  left: 12px;
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.nav__right-link-svg {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: transparent;
}

.nav__right-wrap-svg:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.nav__right-wrap-svg:active {
  outline: none;
}

.nav__right-wrap-svg:focus .nav__right-svg path {
  stroke: var(--dark);
}

.nav__right-wrap-svg:hover .nav__right-svg path {
  stroke: var(--orange);
}

.nav__right-wrap-svg:active .nav__right-svg path {
  stroke: var(--orange);
}

.nav__right-wrap-svg:focus .nav__right-svg rect {
  fill: var(--dark);
}

.nav__right-wrap-svg:hover .nav__right-svg rect {
  fill: var(--orange);
}

.nav__right-wrap-svg:active .nav__right-svg rect {
  fill: var(--orange);
}


/* hero */

.hero-img {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
  object-fit: cover;
  padding: 100px 770px 100px 75px;
  margin-bottom: var(--margin);
}

.hero__content {
  align-items: flex-start;
  flex-direction: column;
}

.hero__subtitle {
  margin-bottom: var(--hero-subtitle);
  color: var(--white);
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__text {
  margin-bottom: var(--hero-txt);
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  width: var(--btn);
  padding: 25px 39px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 23px;
  line-height: 29px;
  transition: background-color 0.4s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--sun-orange);
  outline: none;
}

.hero__btn:hover {
  background-color: var(--sun-orange);
  outline: none;
}

.hero__btn:active {
  background-color: var(--red-orange);
}

/* about */

.about {
  margin-bottom: var(--about);
}

.about__wrapper {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 10px;
}

.about-pic {
  position: relative;
  width: var(--about-img);
  min-height: 622px;
  margin-right: var(--about-left);
  background-image: url(../img/about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.about__subtitle {
  margin-bottom: var(--about-title);
}

.about__text {
  padding-right: 650px;
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__txt-background {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 190px;
  background-color: var(--rgb-black);
  border-radius: 32px;
}

.about__text-wrapper {
  align-items: center;
  justify-content: space-between;
  padding: 50px 55px;
}

.about__img-text {
  width: 65%;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.about__btn {
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--orange);
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.4s ease-in-out;
}

.about__btn:focus {
  background-color: var(--orange);
  border: 3px solid var(--orange);
  outline: none;
  color: var(--white);
}

.about__btn:hover {
  background-color: var(--orange);
  border: 3px solid var(--orange);
  outline: none;
}

.about__btn:active {
  background-color: var(--red-orange);
  border: 3px solid var(--red-orange);
  outline: none;
}

.items {
  width: 49%;
  min-height: 622px;
  flex-direction: column;
  justify-content: space-between;
}

.items__item {
  flex-direction: column;
  width: 100%;
  min-height: 295px;
  padding: 65px 100px 65px 300px;
  outline: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: 50px;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
}

.items__item:not(:last-child) {
  margin-bottom: var(--item);
}

.items__svg1 {
  background-image: url(../img/about2.svg);
}

.items__svg2 {
  background-image: url(../img/about1.svg);
}

.items__title {
  margin-bottom: var(--item-title);
  color: var(--dark);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.items__txt {
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* steps */

.steps {
  margin-bottom: var(--steps);
}

.steps__subtitle {
  margin-bottom: var(--margin);
}

.steps__content {
  justify-content: space-between;
}

.ul {
  width: 40%;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  justify-content: space-between;
}

.ul__steps-link {
  color: var(--dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

.ul__steps-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.ul__steps-link:hover {
  color: var(--orange);
}

.ul__steps-link:active {
  outline: none;
  color: var(--red-orange);
}

.preview__title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.preview__text {
  padding-right: 75px;
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
}

.steps__image {
  background-image: url(../img/work-plan.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.preview__btn-wrap {
  justify-content: space-between;
  width: var(--btn-wrap);
}

.preview__button {
  padding: 20px 38px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.4s ease-in-out;
}

.preview__button:focus {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.preview__button:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.preview__button:active {
  background-color: var(--red-orange);
  border: 1px solid var(--red-orange);
  outline: none;
}

.preview__button2 {
  padding: 20px 38px;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.4s ease-in-out;
}

.preview__button2:focus {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  outline: none;
}

.preview__button2:hover {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  outline: none;
}

.preview__button2:active {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  outline: none;
}

.steps-right-side {
  width: var(--work-img);
  min-height: 460px;
}

.steps-left-side {
  width: 758px;
  min-height: 460px;
}

/* faq */

.faq__subtitle {
  margin-bottom: 32px;
}

.faq__content {
  margin-bottom: 103px;
}

.list-faq {
  flex-direction: column;
  justify-content: space-between;
}

.list-faq__item {
  padding: 30px 0;
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: border-color .3s ease-in-out, fill .5s ease-in-out;
  cursor: pointer;
}

.list-faq__txt {
  transition: color .3s ease-in-out;
}

.list-faq__item:focus .list-faq__txt {
  color: var(--orange);
}

.list-faq__item:hover .list-faq__txt {
  color: var(--orange);
}

.list-faq__item:active .list-faq__txt {
  color: var(--dark);
}

.list-faq__item:focus {
  border-color: var(--orange);
}

.list-faq__item:hover {
  border-color: var(--orange);
}

.list-faq__item:active {
  border-color: var(--dark);
}

.list-faq__svg {
  width: 50px;
  height: 50px;
}

.list-faq__svg ellipse {
  transition: fill 1s ease-in-out;
}

.list-faq__svg path {
  transition: fill 1s ease-in-out;
}

.list-faq__item:focus .list-faq__svg ellipse {
  fill: var(--orange);
}

.list-faq__item:hover .list-faq__svg ellipse {
  fill: var(--orange);
}

.list-faq__item:active .list-faq__svg ellipse {
  fill: var(--grey);
}

.list-faq__item:focus .list-faq__svg path {
  fill: var(--white);
}

.list-faq__item:hover .list-faq__svg path {
  fill: var(--white);
}

.list-faq__item:active .list-faq__svg path {
  fill: var(--black);
}


/* footer */

.footer {
  background-color: var(--black);
  padding-bottom: 150px;
}

.footer__container {
  max-width: 1920px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 75px;
}

.footer__left {
  flex-direction: column;
  margin-right: 135px;
}

.footer__center {
  margin-right: 50px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__item-link {
  color: var(--grey);
  transition: color 0.3s ease-in-out;
}

.footer__item-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
}

.footer__item-link:hover {
  color: var(--orange);
}

.footer__item-link:active {
  outline: none;
  color: var(--red-orange);
}

.footer__item:not(:last-child) {
  margin-bottom: 19px;
}

.footer__social {
  justify-content: space-between;
  width: var(--icon-wrap);
}

.footer__social-icon path {
  transition: fill .3s ease-in-out;
}

.footer__social-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange);
  fill: var(--dark-grey);
}

.footer__social-link:hover {
  fill: var(--orange);
}

.footer__social-link:active {
  outline: none;
  fill: var(--red-orange);
}


.footer__social-link:focus .footer__social-icon path {
  fill: var(--light-grey);
}

.footer__social-link:hover .footer__social-icon path {
  fill: var(--orange);
}

.footer__social-link:active .footer__social-icon path {
  fill: var(--red-orange);
  outline: none;
}

.footer__subtitle {
  margin-bottom: 25px;
  color: var(--grey);
}

.footer__txt {
  width: 363px;
  padding-top: 87px;
  color: var(--grey);
  font-size: 16px;
  line-height: 32px;
}

.footer__form {
  text-align: center;
}

.form__input-wrap {
  flex-direction: column;
}

.form__input {
  width: var(--form);
  height: 60px;
  background-color: var(--asphalt);
  color: var(--grey);
  margin-bottom: 25px;
  border-radius: 16px;
  transition: background-color 0.4s ease-in-out;
}

.form__input:focus {
  background-color: var(--dark-grey);
  color: var(--grey);
  outline: none;
}

.form__input:hover {
  background-color: var(--dark-grey);
  color: var(--grey);
}

.form__input:active {
  background-color: var(--dark-grey);
  color: var(--white);
  outline: none;
}

.form__textarea {
  width: var(--form);
  height: 150px;
  background-color: var(--asphalt);
  color: var(--grey);
  margin-bottom: 25px;
  border-radius: 16px;
  transition: background-color 0.4s ease-in-out;
}

.form__textarea:focus {
  background-color: var(--dark-grey);
  color: var(--grey);
  outline: none;
}

.form__textarea:hover {
  background-color: var(--dark-grey);
  color: var(--grey);
}

.form__textarea:active {
  background-color: var(--dark-grey);
  color: var(--white);
  outline: none;
}

.form__button {
  padding: 19px 52px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
  transition: background-color 0.4s ease-in-out;
}

.form__button:focus {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.form__button:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  outline: none;
}

.form__button:active {
  background-color: var(--red-orange);
  border: 1px solid var(--red-orange);
  outline: none;
}